#page-2 div 
{
    background-color: black;
    display: inline-block;

}

#page-2 div a 
{
    display: inline-block;
}

#page-2
{
    background-color: black;
    width: 1510px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.button
{
    display: inline-block;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    letter-spacing: 1px;
}