body
{
    background-image: url(images/backround.jpeg);
}

.backround
{
    border: 2px solid black;
    box-shadow: 3px 8px 8px;
    height: 425px;
    width: 300px;
    margin: 100px auto;
    background-color: rgb(62, 15, 72);
    border-radius: 25px;
}

.BH
{
    margin: 0px auto;
    text-align: center;
    color: white;
    margin: 10px 0px 25px;
    
}

h2,label,p
{
    color: white;
}

.i1,.i2,.i3,.i4,.i5,.i6,.i7
{
    align-items: center;
    text-align: center;
    display: block; 
    margin: 0px 0px 15px;
}

button
{
    padding: 5px 20px;
    background-color: rgb(0, 218, 91);
    border-radius: 25px;
    box-shadow: 2px 3px 3px;
    margin: 0px auto;
}

.b1
{
    
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

span
{
    color: rgb(49, 49, 255);
    
}




#page-2 div 
{
    background-color: #0E0D0C;
    display: inline-block;

}

#page-2 div a 
{
    display: inline-block;
}

#page-2
{
    background-color: black;
    max-width: 1900px;
    min-width: 1000px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0px ;
}

.button
{
    display: inline-block;
    color: white;
    padding: 5px 100px;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #0E0D0C;
    min-width: 50px;
    max-width: 150px;
}

.button:hover
{
    color:black;
    background-color: rgb(174, 174, 174);
}


.title
{
    font-size: 60px;
    color: white;
    border: 1px solid white;
    height: 100px;
    width: 300px;
    margin: 100px auto;
}