#page-2 div 
{
    background-color: #0E0D0C;
    display: inline-block;

}

#page-2 div a 
{
    display: inline-block;
}

#page-2
{
    background-color: black;
    max-width: 1900px;
    min-width: 1000px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0px ;
}

.button
{
    display: inline-block;
    color: white;
    padding: 5px 100px;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #0E0D0C;
    min-width: 50px;
    max-width: 150px;
}

body
{
    background: linear-gradient(to right, #252525, rgb(113, 113, 113), #252525);
}

.button:hover
{
    color:black;
    background-color: rgb(174, 174, 174);
}


.title
{
font-size: 60px;
color: white;
border: 1px solid white;
height: 100px;
width: 300px;
margin: 100px auto;
}