#page-2 div 
{
    background-color: #0E0D0C;
    display: inline-block;

}

#page-2 div a 
{
    display: inline-block;
}

#page-2
{
    background-color: black;
    max-width: 1900px;
    min-width: 1000px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0px ;
}

.button
{
    display: inline-block;
    color: white;
    padding: 5px 100px;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #0E0D0C;
    min-width: 50px;
    max-width: 150px;
}
body
{
    background: linear-gradient(to right, #252525, rgb(113, 113, 113),black);
}

.button:hover
{
    color:black;
    background-color: rgb(174, 174, 174);
}

h2
{
    width: 200px;
    height: 10px;
}

.para
{
    border: 1px solid black;
    width: 75%;
    height: 300px;
    margin: 50px auto;
    padding: 10px 20px;
    border-radius: 25px ;
    background-color: #FFFFFF;
}

.pic
{
    width: 225px;
    height: 225px;
    float: right;
    border: 1px solid black;
    border-radius: 25px;
}

.text
{
    display: inline-block;
    width: 78%;
    font-size: 20px;
}

.Title-1 
{
text-align: center;
color: white;
font-size: 40px;
}



























/* .title
{
font-size: 60px;
color: white;
border: 1px solid white;
height: 100px;
width: 300px;
margin: 100px auto;
}

#title
{
font-size: 60px;
color: white;
}
.Title-1
{
text-align: center;
}

p
{
    color: white;
    font-size: 20px;
    padding-left: 100px;
}
.pic
{
    float: left;
    width: 250px;
    height: 250px;
}

.para
{
    width: 1500px;
    height: 300px;
    display: flex;
    justify-content: right;
    border: 1px solid black;
    margin: 0px auto;
    border-radius: 25px;
}

#para-2
{
    margin-top: 100px;
}

h1
{
    color: white;
} */

